#sect {
    background-color: black;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
h2 {
    color: white;
}
h4 {
    color: white;
}
p {
    color: white;
}
button {
    margin-left: 800px;
    display: flex;
    justify-content: center;
}